/* #sectionOne{
   text-align: center;
} */
body{
    margin-top: 0;
}
button{
    color: white;
    background-color: rgb(136, 110, 37);
}

h1{
    text-align: center;
    
}
p{
    text-align: justify;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 90px;
}
#sectionOne{
    display: flex;
    /* padding: 20%; */
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 20%;
    
}

.title{
    text-align: center;
}
.container{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20%;
}
.box{
    width: 100%;
    margin-left: 5%;
}